<header class="site-header">
    <div class="logo">
        <h1><a routerLink="/news" title="{{title}}">{{title}}</a></h1>
        <div class="menu-icon collapse"> <span class="bar child1"></span> <span class="bar child2"></span> <span class="bar child3"></span> </div>
    </div>
    <div class="navigation-main">
        <h2>Navigate</h2>
        <nav>
            <ul>
                <li>
                    <a routerLink="/analytics" routerLinkActive="active" title="Analytics"><span class="sprite analytic-icon"></span>Analytics</a>
                </li>
                <li>
                    <a routerLink="/news" routerLinkActive="active" title="News"><span class="sprite news-icon"></span>News</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Board Brief"><span class="sprite board-icon"></span>Board Brief</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Briefcase"><span class="sprite brief-icon"></span>Briefcase</a>
                </li>
            </ul>
        </nav>
    </div>
    <label class="close-menu">Close menu</label>
</header>